<body>
    <header>
        <h1>BLOG DE CINE</h1>
        <img class="claqueta" src="/assets/images/claqueta.png" alt="claqueta de cine">
        <div class="botones">
            <button class="inicio" [routerLink]="'/posts'">INICIO</button>
            <button class="nuevo" [routerLink]="'/new'">NUEVO POST</button>
        </div>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <p>Copyrigth &copy; 2022 Andrés Díaz Hidalgo</p>
    </footer>
</body>